// Remove `.example` from the file extension to configure Aelia

import { AeliaClientOptions } from './src/lib/AeliaClient';

// eslint-disable-next-line no-process-env
const DEV = 'DEV' in process.env ? process.env.DEV === 'true' : !('PM2_HOME' in process.env);

export const CLIENT_OPTIONS: AeliaClientOptions = {
	commandEditing: true,
	commandMessageLifetime: 200,
	console: { useColor: true, utc: true },
	consoleEvents: { verbose: true },
	createPiecesFolders: false,
	customPromptDefaults: { limit: 5 },
	dev: DEV,
	disabledEvents: [
		'GUILD_BAN_ADD',
		'GUILD_BAN_REMOVE',
		'TYPING_START',
		'CHANNEL_PINS_UPDATE',
		'PRESENCE_UPDATE',
		'USER_UPDATE'
	],
	lavalink: {
		hosts: {
			rest: 'http://IP:REST_PORT',
			ws: 'ws://IP:WS_PORT'
		},
		password: 'PASSWORD',
		userID: 'USER_ID'
	},
	messageCacheLifetime: 300,
	messageCacheMaxSize: 50,
	messageSweepInterval: 120,
	pieceDefaults: {
		commands: { deletable: true, promptLimit: 5, quotedStringSupport: true },
		ipcMonitors: { enabled: true },
		monitors: { ignoreOthers: false }
	},
	prefix: DEV ? 'md.' : 'm.',
	presence: { status: 'online', activity: { type: 'LISTENING', name: 'Aelia, help' } },
	readyMessage: (client) =>
		`Aelia 4.0.0 ready! [${client.user.tag}] [ ${client.guilds.size} [G]] [ ${client.guilds.reduce((a, b) => a + b.memberCount, 0).toLocaleString()} [U]].`,
	regexPrefix: /aelia[,!]/i,
	slowmode: 1000,
	slowmodeAggressive: true,
	typing: true
};

export const TOKEN = DEV
	? 'DEVELOPMENT BOT TOKEN'
	: 'PRODUCTION BOT TOKEN';

export const GOOGLE_SEARCH_TOKEN = 'GOOGLE SEARCH TOKEN';
